extends layout

block content
  h1= title
  div(class='container-fluid')
    div(class='row')  
      div(class='col')
        #URLRegistry
          div(class='form-group')
            label(for='registrationUrl') First step:
            input#registrationUrl(
              type='text'
              class='form-control'
              placeholder='http://your-lambda-url.com'
              aria-describedby='registrationUrlDesc'
            )
            small(
              id='registrationUrlDesc'
              class='form-text text-muted'
            ) This is the url used to register this 'Thing'
          button#btnRegisterToUrl(class='btn btn-primary') Register into
          p
          hr
    div(class='row')
      div(class='col')
        #addCommand
          fieldset
            label(for='inputFoodCommand') Second step:
            br
            input#inputFoodQty(type='number', placeholder='Food quantity')
            input#inputFoodCommand(type='string', placeholder='Food Name')
            br
            input#inputBeerQty(type='number', placeholder='Beer Quantity')
            input#inputBeerCommand(type='string', placeholder='Beer Name')
            p
            button#btnAddCommand(class='btn btn-danger') Send commands
